/.vscode
/antes.txt
/dados.txt
/depois.txt
/exp colisao.cpp
/main.cpp
/main.exe
/main_rotacoes.exe
/pratica_1_rotacoes.cpp
/pratica_2_densidades.cpp
/pratica_2_densidades.exe
/r1.txt
/r2.txt
/tempCodeRunnerFile.cpp
/Untitled-1.c
/Untitled-1.exe